index.pug
-var path = ""
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        title ATK Company
        link(rel="favicon icon" href="img/favicon.png")
        link(rel="stylesheet" href="css/style.css")
    body.index
        include pages/header
        .banner.full-size
            .banner__item.banner-container.full-size
                h1.banner-container__header
                    span.banner-container__header_space Поставка и продажа дорожно-строительной техники и
                    span.banner-container__header_space оборудования для нефтегазового сервиса
                    span.banner-container__header_space с 1992 года
        .content.grid-size
            include pages/equipment
            include pages/trading
        // TODO: Прописать атрибут alt всем изображениям, сделать ссылки на сайты партнёров
        .partners
            h2.partners__header.grid-size Наши партнёры
        .partners__slider.full-size
            .slider-container
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/dealex.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/techno_invest.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/gaz.png")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/kama_tyres.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/gazprom.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/stg.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/yamz.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/yardisel.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/motordetal.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/kmz.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/remattra.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/prometey.svg")
        // TODO: Уточнить необходимость увеличить сертификат
        .certificates.grid-size
            h2.certificates__header Наши сертификаты
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate1.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate2.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate3.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate4.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate5.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate6.jpg")
        include pages/footer
        script(src="js/script.js")

index.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1.0"><title>ATK Company</title><link rel="favicon icon" href="img/favicon.png"><link rel="stylesheet" href="css/style.css"></head><body class="index"><header class="header full-size"><div class="header__item header-container grid-size"><div class="header-container__logo logo"><a class="logo__link" href="index.html"><img class="logo__image" src="img/logo.svg" alt="ATK Company"></a></div><!-- TODO: Написать скрипт на получение активного окошечка меню (подсветка) в зависимости от страницы--><nav class="header-container__nav nav"><ul class="nav-container"><li class="nav-container__item"><a class="nav-container__link" href="pages/products.html">Продукция</a></li><li class="nav-container__item"><a class="nav-container__link" href="pages/partners.html">Партнёры</a></li><li class="nav-container__item"><a class="nav-container__link" href="pages/about.html">О нас</a></li><li class="nav-container__item"><a class="nav-container__link" href="pages/contacts.html">Контакты</a></li></ul></nav><!-- TODO: Написать скрипт по получению ссылки на !Текущую страницу с выбранным языком--><ul class="header-container__lang lang"><li class="lang__item"><a class="lang__link" href=""><span class="lang__link_underline">Ru</span></a></li><li class="lang__item"><a class="lang__link" href="">En</a></li></ul><!-- TODO: Разобраться с map.xml--><div class="header-container__breadcrumbs breadcrumbs"><span class="breadcrumbs__item">Тили-тили</span><span class="breadcrumbs__delimiter"></span><span class="breadcrumbs__item">Трали-вали</span></div><div class="header-container__contacts contacts"><a class="contacts__item" href="tel:+79057277687"><img src="img/phone.svg"><span>+7 (905) 727-76-87</span></a><a class="contacts__item" href="mailto:info@atkcom.net"><img src="img/mail.svg"><span>info@atkcom.net</span></a></div></div></header><div class="banner full-size"><div class="banner__item banner-container full-size"><h1 class="banner-container__header"><span class="banner-container__header_space">Поставка и продажа дорожно-строительной техники и</span><span class="banner-container__header_space">оборудования для нефтегазового сервиса</span><span class="banner-container__header_space">с 1992 года</span></h1></div></div><div class="content grid-size"><h2 class="content__header">Нефтегазовый сервис</h2><div class="content__equipment equipment" style="background-image:url(img/equipment/eq1.png);"><a class="equipment__link" href=""><span>Трубоукладчики</span></a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq2.png);"><a class="equipment__link" href="">Сварочное оборудование</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq3.png);"><a class="equipment__link" href="">Трубогибочные машины</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq4.png);"><a class="equipment__link" href="">Облицовочные машины</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq5.png);"><a class="equipment__link" href="">Центраторы</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq6.png);"><a class="equipment__link" href="">Экскаваторы</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq7.png);"><a class="equipment__link" href="">Компрессора</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq8.png);"><a class="equipment__link" href="">Траншеекопатели</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq9.png);"><a class="equipment__link" href="">Погрузчики</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq10.png);"><a class="equipment__link" href="">Краны</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq11.png);"><a class="equipment__link" href="">Бульдозеры</a></div><div class="content__equipment equipment" style="background-image:url(img/equipment/eq12.png);"><a class="equipment__link" href="">Разная техника</a></div><h2 class="content__header">Общестроительное оборудование</h2><div class="content__equipment equipment equipment_big" style="background-image:url(img/equipment/eq13.png);"><a class="equipment__link" href="">Бетононасосы</a></div><div class="content__equipment equipment equipment_big" style="background-image:url(img/equipment/eq14.png);"><a class="equipment__link" href="">Бетонораспределительные стрелы</a></div><h2 class="content__header">Заказ оборудования на одной из площадок</h2><div class="content__trading trading"><a class="trading__link" href="https://www.machinio.com/sellers/atk-general-trading" target="_blank"><img class="trading__img" src="img/logo_machinio.png" alt="Б/у строительная техника, сельскохозяйственное оборудование и многое другое на machinio.com "></a></div><div class="content__trading trading"><a class="trading__link" href="https://autoline24.ru/atkcom/" target="_blank"><img class="trading__img" src="img/logo_autoline.svg" alt="Продажа коммерческой техники, покупка, аренда техники на autoline24.ru"></a></div></div><!-- TODO: Прописать атрибут alt всем изображениям, сделать ссылки на сайты партнёров--><div class="partners"><h2 class="partners__header grid-size">Наши партнёры</h2></div><div class="partners__slider full-size"><div class="slider-container"><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/dealex.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/techno_invest.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/gaz.png"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/kama_tyres.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/gazprom.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/stg.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/yamz.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/yardisel.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/motordetal.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/kmz.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/remattra.svg"></a><a class="slider-container__item" href=""><img class="slider-container__image" src="img/partners/ru/prometey.svg"></a></div></div><!-- TODO: Уточнить необходимость увеличить сертификат--><div class="certificates grid-size"><h2 class="certificates__header">Наши сертификаты</h2><div class="certificates__item"><img class="certificates__image" src="img/certificates/ru/certificate1.jpg"></div><div class="certificates__item"><img class="certificates__image" src="img/certificates/ru/certificate2.jpg"></div><div class="certificates__item"><img class="certificates__image" src="img/certificates/ru/certificate3.jpg"></div><div class="certificates__item"><img class="certificates__image" src="img/certificates/ru/certificate4.jpg"></div><div class="certificates__item"><img class="certificates__image" src="img/certificates/ru/certificate5.jpg"></div><div class="certificates__item"><img class="certificates__image" src="img/certificates/ru/certificate6.jpg"></div></div><footer class="footer full-size"><div class="footer__item footer-container grid-size"><div class="footer-container__info"><strong class="footer-container__info_normal">Будьте бдительны – остерегайтесь мошенников!<br>Перед проведением оплаты необходим телефонный звонок или встреча с представителями компании!</strong></div><div class="footer-container__soc soc"><a class="soc__link" href="https://www.instagram.com/atktrading/" target="_blank"><img class="soc__image" src="img/instagram.svg" alt="ATK Company в instagram"><span class="soc__link_light">&#160;instagram:&#160;</span><span>@atktrading</span></a><a class="soc__link" href="https://www.youtube.com/channel/UCu0H8TKkFfWrD1dTfVDPSOA" target="_blank"><img class="soc__image" src="img/youtube.svg" alt="Канал ATK Company в youtube"><span class="soc__link_light tx18-grey-l">&#160;youtube:&#160;</span><span>ATK Company</span></a></div><div class="footer-container__copy"><span>&#169; ATK Company</span><span class="footer-container__copy_light">2015&#8722;2018</span></div><nav class="footer-container__nav nav"><ul class="nav-container"><li class="nav-container__item"><a class="nav-container__link" href="pages/products.html">Продукция</a></li><li class="nav-container__item"><a class="nav-container__link" href="pages/partners.html">Партнёры</a></li><li class="nav-container__item"><a class="nav-container__link" href="pages/about.html">О нас</a></li><li class="nav-container__item"><a class="nav-container__link" href="pages/contacts.html">Контакты</a></li></ul></nav><a class="footer-container__petiteweb pw" href="http://petiteweb.ru"><span class="pw-text">Сайт разработан студией</span><img class="pw-image" src="http://petiteweb.ru/pw_logo/logo_dbg2.svg" alt="Школа-студия веб-разработки PetiteWeb"></a></div></footer><script src="js/script.js"></script></body></html>
