pages/about.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1.0"><title>ATK Company / О нас</title><link rel="favicon icon" href="../img/favicon.png"><link rel="stylesheet" href="../css/style.css"></head><body class="bg2"><div class="body__wrapper"><header class="header full-size"><div class="header__item header-container grid-size"><div class="header-container__logo logo"><a class="logo__link" href="../index.html"><img class="logo__image" src="../img/logo.svg" alt="ATK Company"></a></div><!-- TODO: Написать скрипт на получение активного окошечка меню (подсветка) в зависимости от страницы--><nav class="header-container__nav nav"><ul class="nav-container"><li class="nav-container__item"><a class="nav-container__link" href="../pages/products.html">Продукция</a></li><li class="nav-container__item"><a class="nav-container__link" href="../pages/partners.html">Партнёры</a></li><li class="nav-container__item"><a class="nav-container__link" href="../pages/about.html">О нас</a></li><li class="nav-container__item"><a class="nav-container__link" href="../pages/contacts.html">Контакты</a></li></ul></nav><!-- TODO: Написать скрипт по получению ссылки на !Текущую страницу с выбранным языком--><ul class="header-container__lang lang"><li class="lang__item"><a class="lang__link" href=""><span class="lang__link_underline">Ru</span></a></li><li class="lang__item"><a class="lang__link" href="">En</a></li></ul><!-- TODO: Разобраться с map.xml--><div class="header-container__breadcrumbs breadcrumbs"><span class="breadcrumbs__item">Тили-тили</span><span class="breadcrumbs__delimiter"></span><span class="breadcrumbs__item">Трали-вали</span></div><div class="header-container__contacts contacts"><a class="contacts__item" href="tel:+79057277687"><img src="../img/phone.svg"><span>+7 (905) 727-76-87</span></a><a class="contacts__item" href="mailto:info@atkcom.net"><img src="../img/mail.svg"><span>info@atkcom.net</span></a></div></div></header><div class="content grid-size"><h2 class="content__header">Заказ оборудования на одной из площадок</h2><div class="content__trading trading"><a class="trading__link" href="https://www.machinio.com/sellers/atk-general-trading" target="_blank"><img class="trading__img" src="../img/logo_machinio.png" alt="Б/у строительная техника, сельскохозяйственное оборудование и многое другое на machinio.com "></a></div><div class="content__trading trading"><a class="trading__link" href="https://autoline24.ru/atkcom/" target="_blank"><img class="trading__img" src="../img/logo_autoline.svg" alt="Продажа коммерческой техники, покупка, аренда техники на autoline24.ru"></a></div></div><footer class="footer full-size"><div class="footer__item footer-container grid-size"><div class="footer-container__info"><strong class="footer-container__info_normal">Будьте бдительны – остерегайтесь мошенников!<br>Перед проведением оплаты необходим телефонный звонок или встреча с представителями компании!</strong></div><div class="footer-container__soc soc"><a class="soc__link" href="https://www.instagram.com/atktrading/" target="_blank"><img class="soc__image" src="../img/instagram.svg" alt="ATK Company в instagram"><span class="soc__link_light">&#160;instagram:&#160;</span><span>@atktrading</span></a><a class="soc__link" href="https://www.youtube.com/channel/UCu0H8TKkFfWrD1dTfVDPSOA" target="_blank"><img class="soc__image" src="../img/youtube.svg" alt="Канал ATK Company в youtube"><span class="soc__link_light tx18-grey-l">&#160;youtube:&#160;</span><span>ATK Company</span></a></div><div class="footer-container__copy"><span>&#169; ATK Company</span><span class="footer-container__copy_light">2015&#8722;2018</span></div><nav class="footer-container__nav nav"><ul class="nav-container"><li class="nav-container__item"><a class="nav-container__link" href="../pages/products.html">Продукция</a></li><li class="nav-container__item"><a class="nav-container__link" href="../pages/partners.html">Партнёры</a></li><li class="nav-container__item"><a class="nav-container__link" href="../pages/about.html">О нас</a></li><li class="nav-container__item"><a class="nav-container__link" href="../pages/contacts.html">Контакты</a></li></ul></nav><a class="footer-container__petiteweb pw" href="http://petiteweb.ru"><span class="pw-text">Сайт разработан студией</span><img class="pw-image" src="http://petiteweb.ru/pw_logo/logo_dbg2.svg" alt="Школа-студия веб-разработки PetiteWeb"></a></div></footer></div><script src="../js/script.js"></script></body></html>

pages/about.pug
-var path = "../"
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        title ATK Company / О нас
        link(rel="favicon icon" href="../img/favicon.png")
        link(rel="stylesheet" href="../css/style.css")
    body.bg2
        .body__wrapper
            include header
            .content.grid-size
                include trading
            include footer
        script(src=path + "js/script.js")
