pages/equipment.html
<h2 class="content__header">Нефтегазовый сервис</h2><div class="content__equipment equipment mirror" style="background-image:url(undefinedimg/equipment/eq1.png);"><a class="eq_link mirror_back" href=""><span>Трубоукладчики</span></a></div><div class="content__equipment equipment" style="background-image:url(undefinedimg/equipment/eq2.png);"><a class="eq_link" href="">Сварочное оборудование</a></div><div class="content__equipment equipment" style="background-image:url(undefinedimg/equipment/eq3.png);"><a class="eq_link" href="">Трубогибочные машины</a></div><div class="content__equipment equipment" style="background-image:url(undefinedimg/equipment/eq4.png);"><a class="eq_link" href="">Облицовочные машины</a></div><div class="content__equipment equipment" style="background-image:url(undefinedimg/equipment/eq5.png);"><a class="eq_link" href="">Центраторы</a></div><div class="content__equipment equipment" style="background-image:url(undefinedimg/equipment/eq6.png);"><a class="eq_link" href="">Экскаваторы</a></div><div class="content__equipment equipment" style="background-image:url(undefinedimg/equipment/eq7.png);"><a class="eq_link" href="">Компрессора</a></div><div class="content__equipment equipment" style="background-image:url(undefinedimg/equipment/eq8.png);"><a class="eq_link" href="">Траншеекопатели</a></div><div class="content__equipment equipment" style="background-image:url(undefinedimg/equipment/eq9.png);"><a class="eq_link" href="">Погрузчики</a></div><div class="content__equipment equipment mirror" style="background-image:url(undefinedimg/equipment/eq10.png);"><a class="eq_link mirror_back" href="">Краны</a></div><div class="content__equipment equipment mirror" style="background-image:url(undefinedimg/equipment/eq11.png);"><a class="eq_link mirror_back" href="">Бульдозеры</a></div><div class="content__equipment equipment" style="background-image:url(undefinedimg/equipment/eq12.png);"><a class="eq_link" href="">Разная техника</a></div><h2 class="content__header">Общестроительное оборудование</h2><div class="content__equipment equipment equipment_big" style="background-image:url(undefinedimg/equipment/eq13.png);"></div><div class="content__equipment equipment equipment_big" style="background-image:url(undefinedimg/equipment/eq14.png);"></div>

pages/equipment.pug
h2.content__header Нефтегазовый сервис
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq1.png);")
    a.equipment__link(href="")
        span Трубоукладчики
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq2.png);")
    a.equipment__link(href="") Сварочное оборудование
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq3.png);")
    a.equipment__link(href="") Трубогибочные машины
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq4.png);")
    a.equipment__link(href="") Облицовочные машины
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq5.png);")
    a.equipment__link(href="") Центраторы
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq6.png);")
    a.equipment__link(href="") Экскаваторы
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq7.png);")
    a.equipment__link(href="") Компрессора
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq8.png);")
    a.equipment__link(href="") Траншеекопатели
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq9.png);")
    a.equipment__link(href="") Погрузчики
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq10.png);")
    a.equipment__link(href="") Краны
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq11.png);")
    a.equipment__link(href="") Бульдозеры
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq12.png);")
    a.equipment__link(href="") Разная техника
h2.content__header Общестроительное оборудование
.content__equipment.equipment.equipment_big(style="background-image:url(" + path + "img/equipment/eq13.png);")
    a.equipment__link(href="") Бетононасосы
.content__equipment.equipment.equipment_big(style="background-image:url(" + path + "img/equipment/eq14.png);")
    a.equipment__link(href="") Бетонораспределительные стрелы
